/* --------------------------- */
/* -------- CSS Sheet -------- */
/* --------------------------- */

body {
    background-color: #7b8599;
    /* margin:1%; */
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #282c34;
    min-height: 4vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(8px + 1vmin);
    color: white;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-main {
    background-color: #b5c2da;
    /* min-height: 60vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.main-leftside {
    background-color: #adb1b7;
    min-height: 60vh;
    min-width: 18vh;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
}

.main-rightside {
    background-color: #adb1b7;
    min-height: 60vh;
    min-width: 12vw;
    max-width: 15vw;
}

.flex-container {
    display: flex;
    flex: 1;
    min-height: 60vh;
}

.flex-apart {
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.App-link {
    color: #61dafb;
}

.App-footer {
    background-color: #0f1012;
    min-height: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
    color: white;
}

/* -v-v-v- Display Loader -v-v-v-  */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adb1b7;
    z-index: 1;
    flex: 1;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 10px solid;
    border-color: #751515 transparent #310000 transparent;
    border-radius: 50%;
    animation: spin-anim 0.9s linear infinite;
}

.location-wrap {
    background-color: #282c34;
    flex: wrap;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* -^-^-^- Display Loader -^-^-^-  */

#map {
    background-color: #282c34;
    min-height: 60vh;
    min-width: 60vw;
    flex: 1;
}

#app-wrap {
    width: 100vw;
    height: 100vh;
}

#leaflet-map {
    align-items: center;
    width: 400px;
    height: 300px;
 }

#leaflet-locations {
    background-color: #b5c2da;
    margin: 2px;
    border: 1px solid black;
    flex:none
}

